.card {
  transition:
    background-color 150ms ease,
    border-color 150ms ease;
  border-radius: var(--mantine-radius-sm);
  padding: var(--mantine-spacing-sm);
  text-align: center;
  border: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-8));
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-8)
  );
}

.active {
  border-color: var(--mantine-color-blue-filled);
  background-color: var(--mantine-color-blue-light);
}
