.crownBox {
  @media (max-width: 768px) {
    top: -26px !important;
  }
}

.crown {
  @media (max-width: 768px) {
    width: 20px !important;
  }
}

.avatar {
  @media (min-width: 768px) {
    width: 80px !important;
    height: 80px !important;
  }

  @media (max-width: 768px) {
    width: 46px !important;
    height: 46px !important;
    border-width: 2px !important;
  }
}

.text {
  @media (max-width: 768px) {
    font-size: 14px !important;
  }
}
